body {
  // padding-top: 70px;
    background-image: url("images/hondas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -110px;
    background-attachment:fixed;
}

.navLogo {
  width: 70%;
}
.navLogoHolder {
  width: 10%
}
.navFacebook a{
  font-size: 5em;
}
.navbar-default .navbar-nav>li>a {
    color: #3b5998;
}
.mainContainer{
  background-color: transparent;
  overflow: scroll;
  z-index: 2;
}
.spacing {
background-color: rgba(41, 16, 16, 0.54);  height: 300px;
padding: 16% 0% 2% 5%;
    color: white;
    z-index: 1;
}
.spacing h1{
  margin: 0;
}
.bottomSpacing{
  background-color: rgba(41, 16, 16, 0.54);
   height: 200px;
  padding: 16% 0% 2% 5%;
      color: white;
      z-index: 1;
}


.content{
  background-color: white;
  min-height: 400px;
  padding: 2%;
  box-shadow: 0px 5px 5px black;
  overflow: auto;
}
.item img{
  height: 100%;
  overflow: hidden;
}

.brand img{
  width: 100%;
}

footer{
  padding: 5%;
  background-color: black;
  height: 200px;
  color: white;
}
footer h5{
  display: block;
}
footer img{
  float: right;
}
